<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- vinculación con estilos y favicon -->
    <link rel="stylesheet" href="../static/css/register-style.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>Consultas y turnos</title>
    <!-- vinculación con google-fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <!-- vinculación fontawesome -->
    <script src="https://kit.fontawesome.com/76808fbf34.js" crossorigin="anonymous"></script>
</head>
<body><!-- Encabezado -->
    <header class="header" id="header">
        <nav>
            <!-- Logo -->
            <div id="logo">
                <a href="../index.html">
                    <i class="fa-regular fa-hospital fa-beat"></i>
                    <span class="logo-text">Clínica Online</span>
                </a>
            </div>
            <!-- hipervínculos del menú -->
            <ul class="nav-links">
                <li><a href="../index.html">Consultas de Urgencias</a></li>
                <li><a href="./register.html" class="btn-cyt">Consultas y turnos</a></li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-user-doctor fa-beat"></i>
                        <span class="especialities-text">Especialidades</span>
                    </a>
                </li>
            </ul>
        </nav>

    </header>

    <!-- Contenido -->
    <main>

        <section id="banner" class="specialities">
            <h1>Especialidades</h1>
            <div class="specialities-container">
                <ul id="especialities">
                    <li></li>
                </ul>
            </div>
        </section>
            
    </main>
    <footer id="footer">
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
    <script src="../static/Js/script.js"></script>
    <script src="../static/Js/app.js"></script>
</body>
</html>