<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- vinculación con estilos y favicon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/register-style.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>Consultas y turnos</title>
    <!-- vinculación con google-fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <!-- vinculación fontawesome -->
    <script src="https://kit.fontawesome.com/76808fbf34.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body><!-- Encabezado -->
    <header class="header" id="header">
        <nav>
            <!-- Logo -->
            <div id="logo">
                <a href="../index.html">
                    <i class="fa-regular fa-hospital fa-beat"></i>
                    <span class="logo-text">Clínica Online</span>
                </a>
            </div>
            <!-- hipervínculos del menú -->
            <ul class="nav-links">
                <li><a href="../index.html">Consultas de Urgencias</a></li>
                <li><a href="#" class="btn-cyt">Consultas y turnos</a></li>
                <li>
                    <a href="./doctors.html">
                        <i class="fa-solid fa-user-doctor fa-beat"></i>
                        <span class="especialities-text">Especialidades</span>
                    </a>
                </li>
            </ul>
        </nav>

    </header>

    <!-- Contenido -->
    <main>

        <!-- form-wrapper: formulario -->
        <section id="banner" class="form-wrapper">
            <form id="formRegister">
                <div class="left-form">
                    <div class="form-control">
                        <label>Nombre</label>
                        <input type="text" required name="firstname" id="firstname">
                    </div>
                    <div class="error" id="error-firstname"></div>
                    <div class="form-control">
                        <label>Apellido</label>
                        <input type="text" required name="lastname" id="lastname">
                    </div>
                    <div class="error" id="error-lastname"></div>
                    <div class="form-control">
                        <label>Email</label>
                        <input type="email" required name="email" id="email">
                    </div>
                    <div class="form-control">
                        <label>Telefóno</label>
                        <input type="tel" required name="phone" id="phone">
                    </div>
                    <div class="form-control">
                        <label>Especialidades</label>
                        <select name="speciality" required id="especialities">
                            <option value="default">Seleccione una especialidad</option>
                        </select>
                    </div>
                    <div class="form-control">
                        <label>¿Tiene Cobertura Médica?</label>
                        <div>
                            <input type="radio" id="coverage" name="coverage" value="Si">
                            <label for="coverage">Sí</label>
                        </div>
                        <div>
                            <input type="radio" id="not-coverage" name="coverage" value="No">
                            <label for="not-coverage">No</label>
                        </div>
                    </div>
                </div>
                <button type="submit">Buscar Médicos</button>
            </form>
            <div id="resultContainer"></div>
            <ul id="notAvailableMessage"></ul>
            <form id="selectAppointment">
                <div class="right-form">                
                    <div class="form-control">
                        <label for="doctorSelect">Médico:</label>
                        <select id="doctorSelect"></select>
                        <label>Mensaje</label>
                        <textarea name="message" id=""></textarea>
                    </div>
                    <div class="form-control">
                        <label>Fecha del turno</label>
                        <input type="date" required name="date" id="time">
                    </div>
                    <div class="form-control">
                        <div class="terms">
                            <input type="checkbox" required id="terms">
                            <label for="terms">Acepto términos y condiciones</label>
                        </div>
                    </div>
                    <button class="btn-cyt" id="btn-submit" type="submit">Enviar Mensaje</button>
                </div>
            </form>
            <div id="appointmentResult"></div>           
        </section>
        <section id="appointment-history">
            <h2>Historial de Citas</h2>
            <!-- Historial de citas generado dinámicamente -->
        </section>
        <div class="form-help">
            <a href="#">Necesitas ayuda?</a>
        </div>
    </main>
    <footer id="footer">
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
    <div id="errorModal" class="modal">
        <div class="modal-content">
            <h5 class="errorModal-title"></h5>
            <p class="errorModal-body"></p>
            <button type="reset" class="btn btn-danger" onclick="closeModal()">Cerrar</button>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <h5 class="modal-title"></h5>
            <p class="modal-body"></p>
            <button type="reset" class="btn btn-success" onclick="closeModal()">Cerrar</button>
        </div>
    </div>
    <script src="../static/Js/app.js"></script>
    <script src="../static/Js/appointments.js"></script>
    <script src="../static/Js/doctors.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>