<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- vinculación con estilos y favicon -->
    <link rel="stylesheet" href="../static/css/register-style.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>Consultas y turnos</title>
    <!-- vinculación con google-fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <!-- vinculación fontawesome -->
    <script src="https://kit.fontawesome.com/76808fbf34.js" crossorigin="anonymous"></script>
</head>
<body><!-- Encabezado -->
    <header class="header" id="header">
        <nav>
            <!-- Logo -->
            <div id="logo">
                <a href="../index.html">
                    <i class="fa-regular fa-hospital fa-beat"></i>
                    <span class="logo-text">Clínica Online</span>
                </a>
            </div>
            <!-- hipervínculos del menú -->
            <ul class="nav-links">
                <li><a href="../index.html">Consultas de Urgencias</a></li>
                <li><a href="#" class="btn-cyt">Consultas y turnos</a></li>
                <li>
                    <a href="./doctors.html">
                        <i class="fa-solid fa-user-doctor fa-beat"></i>
                        <span class="especialities-text">Especialidades</span>
                    </a>
                </li>
            </ul>
        </nav>

    </header>

    <!-- Contenido -->
    <main>

        <!-- form-wrapper: formulario -->
        <section id="banner" class="form-wrapper">
            <form id="formRegister">
                <div class="left-form">
                    <div class="form-control">
                        <label>Nombre</label>
                        <input type="text" required name="firstname" id="firstname">
                    </div>
                    <div class="error" id="error-firstname"></div>
                    <div class="form-control">
                        <label>Apellido</label>
                        <input type="text" required name="lastname" id="lastname">
                    </div>
                    <div class="error" id="error-lastname"></div>
                    <div class="form-control">
                        <label>Email</label>
                        <input type="email" required name="email" id="email">
                    </div>
                    <div class="form-control">
                        <label>Telefóno</label>
                        <input type="tel" required name="phone" id="phone">
                    </div>
                    <div class="form-control">
                        <label>Especialidades</label>
                        <select name="speciality" required id="especialities">
                            <option value="especialidad">Seleccione una especialidad</option>
                        </select>
                    </div>
                    <div class="form-control">
                        <label>¿Tiene Cobertura Médica?</label>
                        <div>
                            <input type="radio" id="coverage" name="coverage" value="Si">
                            <label for="coverage">Sí</label>
                        </div>
                        <div>
                            <input type="radio" id="not-coverage" name="coverage" value="No">
                            <label for="not-coverage">No</label>
                        </div>
                    </div>
                </div>
                <div class="right-form">                
                    <div class="form-control">
                        <label>Mensaje</label>
                        <textarea name="message" id=""></textarea>
                    </div>
                    <div class="form-control">
                        <label>Fecha del turno</label>
                        <input type="date" required name="date" id="date">
                    </div>
                    <div class="form-control">
                        <div class="terms">
                            <input type="checkbox" required id="terms">
                            <label for="terms">Acepto términos y condiciones</label>
                        </div>
                    </div>
                    <button class="btn-cyt" id="btn-submit" type="submit">Enviar Mensaje</button>
                </div>
            </form>           
        </section>
        <div class="form-help">
            <a href="#">Necesitas ayuda?</a>
        </div>
    </main>
    <footer id="footer">
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
    <script src="../static/Js/app.js"></script>
</body>
</html>